@import "../../styles/mixins";

.projects {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: var(--section-spacer);

    @include lg {
        flex-direction: row;
    }
}
