---
import Layout from '../layouts/Layout.astro';
import PortfolioHeader from '../components/header/PortfolioHeader.jsx';
import Projects from '../components/projects/Projects.jsx';
import './index.scss';
---

<Layout title="Mico Portfolio">
	<!-- TODO: We don't relly need a nav, at least yet -->
	<!-- <ComfyNav/> -->
	<PortfolioHeader/>
	<main>
		<div class="container">
			<section>
				<h2>Projects.</h2>
				<article>
					<h3>Programming.</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero quasi nihil pariatur facilis mollitia quis nam iure rerum tempora.</p>
				</article>
				<article>
					<h3>Web Development.</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, id.</p>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sunt totam voluptate aliquid vel praesentium quo atque. Non, eligendi et.</p>
				</article>
				<article>
					<h3>Projects.</h3>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quasi explicabo doloremque dignissimos eveniet corporis esse veritatis id nesciunt nemo nobis sapiente accusantium voluptas consequuntur soluta facere dolores possimus, sunt voluptate sit? Ea omnis nulla, fuga iste corrupti tempore voluptate.</p>
					<Projects client:idle/>
                    <a href="https://github.com/Miconen/" class="moreprojects__link">
                        <button class="moreprojects">
                            More Projects 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                        </button>
                    </a>
				</article>
			</section>
		</div>
		<div class="transition slant"></div>
		<div class="container bg-alt">
			<section>
				<h2>Skills.</h2>
				<article>
					<h3>Experience.</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero quasi nihil pariatur facilis mollitia quis nam iure rerum tempora.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde cupiditate porro nam sunt sint doloremque dicta voluptate? Illo ipsam deserunt repellat? Necessitatibus culpa ratione mollitia optio non dignissimos fuga, sapiente, omnis laborum deleniti quisquam qui corrupti, maxime magnam laboriosam deserunt!</p>
				</article>
				<article>
					<h3>Interests.</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero quasi nihil pariatur facilis mollitia quis nam iure rerum tempora.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum tempore tempora, officia mollitia perspiciatis! Officia ullam reiciendis praesentium. Ipsum est beatae asperiores, adipisci in consectetur delectus error officiis ratione.</p>
				</article>
			</section>
		</div>
		<div class="transition slantmirrored"></div>
		<div class="container">
			<section>
				<article>
					<h2>About me.</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae harum reprehenderit enim voluptatum ea necessitatibus velit vel, doloremque voluptate temporibus autem pariatur exercitationem illo quisquam alias assumenda recusandae! Necessitatibus deserunt quibusdam ullam harum, voluptatibus pariatur? Nemo minus officiis non quam autem, facilis assumenda. Veniam consequatur dignissimos corporis provident ad maiores totam doloremque, temporibus voluptatibus tempore quasi aspernatur labore vel officia alias autem obcaecati. Harum vero similique eum praesentium expedita! Corrupti optio iste autem doloribus deserunt odit similique neque cum. Ratione assumenda exercitationem ipsam voluptas ut adipisci a dignissimos cum rerum libero? Neque consequuntur adipisci, fugiat hic aliquid iusto, animi molestias atque minus quas architecto sapiente vel voluptates fuga. Aliquam dolor omnis eos. Sint eum quos dicta unde vero tenetur modi quia nobis quidem officiis perferendis quasi, in, porro sit a autem, laborum ipsam illum pariatur. Quo deleniti eius aut ipsum iure animi cumque veritatis sequi harum, perferendis fugit, inventore unde.</p>
				</article>
			</section>
		</div>
		<div class="container">
			<section>
				<h2>Contacts.</h2>
				<article>
					<h3>Email</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, animi.</p>
				</article>
				<article>
					<h3>Linkedin</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, animi.</p>
				</article>
				<article>
					<h3>GitHub</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, animi.</p>
				</article>
			</section>
		</div>
	</main>
	<div class="transition slant"></div>
	<footer>
		<div class="container bg-alt">
            <section>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </section>
		</div>
	</footer>
</Layout>
