@import "../styles/_mixins";

h1 {
  margin: 2rem 0;
}

main {
  margin: auto;
}

.transition {
  aspect-ratio: 960/50;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.slant {
    background-image: url("../bg-alt-slant.svg");
  }

  &.slantmirrored {
    background-image: url("../bg-alt-slant-mirrored.svg");
  }
}

.container {
  &.bg-alt {
    background-color: var(--color-bg-alt);
  }

  > section {
    // max-width: var(--container-size-lg);
    max-width: var(--container-size-sm);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--section-spacer);
    padding-bottom: var(--section-spacer);

    @include md {
      max-width: var(--container-size-md);
    }

    @include lg {
      max-width: var(--container-size-lg);
    }

    article {
      margin-bottom: var(--section-spacer);
    }
  }

  > section > h2 {
    margin-top: 0;
  }

  > section > p {
    max-width: var(--container-size-md);
  }

  > section.md {
    max-width: var(--container-size-md);
  }
}

.moreprojects {
    height: 50px;
    display: block;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include md {
        width: var(--container-size-md);
    }

    svg {
        fill: white; 
        margin-left: 10px;
    }

    &__link {
        text-decoration: none;
    }
}
