header {
  background-color: var(--color-bg);
  width: 100%;
  height: 100vh;

  .container {
    /* Side spacer for smaller screens*/
    /* padding-left: 10px;
    padding-right: 10px; */
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    position: absolute;
  }

  .hero {
    max-width: var(--container-size-lg);
    margin: auto;
    text-align: center;
    transform: translateY(0px);
    animation: float 12s ease-in-out infinite;
    h1 {
      margin: 0;
    }

    p {
      margin: 0;
      letter-spacing: 2px;
    }

    span {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .background {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: absolute;
  }

  .blob {
    background-image: url("./bg-blobs.svg");
  }

  .fade {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.7483368347338936) 15%,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
  }
  /* 
.pointgrid {
    aspect-ratio: 1/1;
transform: rotate(45deg);
    background-image: url('./point-grid.svg');
    width: 20ch;
height: 20ch;
right: 20%;
top: 20%;
}

.landercard {
background-image: url('./lander-card.svg');
aspect-ratio: 672/490;  
width: 60ch;
transform: translate(-50%, -50%);
top: 50vh;
left: 25%;
filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.10));
}

.floatingsvg {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
position: absolute;
z-index: 1;
}
*/

  @keyframes float {
    0% {
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
      transform: translatey(0px);
    }
    50% {
      filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.1));
      transform: translatey(-20px);
    }
    100% {
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
      transform: translatey(0px);
    }
  }
}
