body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, sans-serif;
  color: var(--color-text);
  font-size: 62.5%;
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: 800;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 900;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

h4 {
  font-size: var(--font-size-base);
  font-weight: 700;
}

p {
  font-size: var(--font-size-base);
  font-weight: 400;
}

button {
  font-size: 24px;
  font-weight: 700;
  color: white;
  background: #2d3436;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 150px;
  line-height: 0;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: "Inter var", "system-ui";
  }
}
