:root {
  --font-size-base: clamp(1rem, 0.5vw + 1rem, 1.5rem);
  --font-size-lg: 1.5rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 3.5rem;

  // --container-size-xl: 1280px;
  // --container-size-lg: 900px;
  --container-size-lg: 1200px;
  --container-size-md: 720px;
  --container-size-sm: 95%;

  @import "_breakpoints";
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
  // --breakpoint-xl: #{$breakpoint-xl};

  --section-spacer: 75px;

  --color-text: hsl(193, 9%, 19%);
  --color-bg: white;
  --color-bg-alt: #f4eeff;
  --color-border: hsl(17, 24%, 90%);
}
